
html, body{
  height:100%;
  margin:0;
}

.principal{
  height: 100vh;
  width: 100vw;
}

.mapa-div {
    margin: auto;
}

.mapa-div path {
    fill: #2174d4;
    stroke: #fff;
    stroke-width: 1px;
}

.mapa-div path:hover {
    stroke-width: 3px;
    cursor: pointer;
    fill: #014ba0;
}

svg {
    pointer-events: none;
}

path{
    pointer-events: auto;
}
